html, body{
	width: 100%;
	height: 100%;
	font-family: 'FiraSans-Regular';
	-webkit-font-smoothing: antialiased;
	line-height: 1.42;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

a{
	text-decoration: none;
}

.wrapper{
	background-color: #f6f6f6;
	min-height: 100%;
	overflow: hidden;
	position: relative;
	min-width: 960px
}

.wrapper_title{
	min-width: 940px;
	text-align: center;
	min-height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.wrapper_title:before {
	content: "";
	display: inline-block;
	height: 100%;
	width: 0;
	vertical-align: middle;
}

.title{
	display: inline-block;
	vertical-align: middle;
	width: 920px;
	/*margin: 0 auto;*/
}